{% extends "base.html" %}

{% block lang %}{{ article.lang }}{% endblock %}

{% block head %}
  {{ super() }}
  <meta name="description" content="{{ article.summary|striptags }}">
{% endblock %}

{% block title %}
  {{ article.title|striptags }} {{ super() }}
{% endblock %}

{% block page_header %}
  {% if article.link %}
    <a href="{{ article.link }}" rel="bookmark">
  {% endif %}
  {{ article.title }}
  {% if article.link %}
    <i class="fas fa-link"></i></a>
  {% endif %}
{% endblock %}

{% block content %}
  <article class="article">
    <header>
      <ul class="list-inline">
        <li class="list-inline-item text-muted" title="{{ article.date.isoformat() }}">
          <i class="fas fa-clock"></i>
          <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        </li>
        <li class="list-inline-item">
          <i class="fas fa-folder-open"></i>
          <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        </li>
        {% if not HIDE_AUTHORS and article.authors %}
          <li class="list-inline-item">
            <i class="fas fa-user"></i>
            {% for author in article.authors %}
              <a href="{{ SITEURL }}/{{ author.url }}" rel="author">{{ author }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
          </li>
        {% endif %}
        {% if article.tags %}
          <li class="list-inline-item">
            <i class="fas fa-tag"></i>
            {% for tag in article.tags %}
              <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
          </li>
        {% endif %}
        {% if article.translations %}
          <li class="list-inline-item">
            <i class="fas fa-globe"></i>
            {% for translation in article.translations %}
              <a href="{{ SITEURL }}/{{ translation.url }}" rel="alternate" hreflang="{{ translation.lang }}">{{ translation.lang }}</a>
            {% endfor %}
          </li>
        {% endif %}
      </ul>
    </header>
    <div class="content">
      {{ article.content }}
      {% if article.link %}
        <p class="link-button"><a href="{{ article.link }}" rel="bookmark">
          <i class="fas fa-link"></i> view link
        </a></p>
      {% endif %}
    </div>
  </article>
  {% include 'include/comments.html' %}
{% endblock %}
