{% extends "base.html" %}

{% block title %}
  Auteurs {{ super() }}
{% endblock %}

{% block page_header %}
  Auteurs
{% endblock %}

{% block content %}
  <table class="table table-bordered table-striped">
    {% for author, articles in authors|sort %}
      <tr>
        <td><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a></td>
        <td>{{ articles|count }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
