{% extends "base.html" %}

{% block title %}
  Catégories {{ super() }}
{% endblock %}

{% block page_header %}
  Catégories
{% endblock %}

{% block content %}
  <table class="table table-bordered table-striped">
    {% for category, articles in categories|sort %}
      <tr>
        <td><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></td>
        <td>{{ articles|count }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
