{% extends "base.html" %}

{% block lang %}{{ page.lang }}{% endblock %}

{% block head %}
  {{ super() }}
  <meta name="description" content="{{ page.summary|striptags }}">
{% endblock %}

{% block title %}
  {{ page.title|striptags }} {{ super() }}
{% endblock %}

{% block page_header %}
  {{ page.title }}
{% endblock %}

{% block content %}
  <article class="article">
    {% if page.translations %}
      <p class="translation-links">
        <i class="fas fa-globe"></i>
        {% for translation in page.translations %}
          <a href="{{ SITEURL }}/{{ translation.url }}" rel="alternate" hreflang="{{ translation.lang }}">{{ translation.lang }}</a>
        {% endfor %}
      </p>
    {% endif %}
    <div class="content">
      {{ page.content }}
    </div>
  </article>
{% endblock %}
