{% extends "base.html" %}

{% block title %}
  Archives pour {{ period | reverse | join(' ') }} {{ super() }}
{% endblock %}

{% block page_header %}
  Archives pour {{ period | reverse | join(' ') }}
{% endblock %}

{% block content %}
  <dl class="dl-horizontal">
    {% for article in dates %}
      <dt>{{ article.locale_date }}</dt>
      <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
    {% endfor %}
  </dl>
{% endblock %}
