.content {
    display: flex;
    flex-wrap: wrap;
}

.content h1 {
    width: 100%;
}


.content article {
    min-width: 50%;
}

#skills {
    display: flex;
    flex-wrap: wrap;
}

#skills h2 {
    width: 100%;
}


#skills div {
    min-width: 50%;
}

@media print {
    .translation-links {
        display: none;
    }
    header .list-inline {
        display: none;
    }
    footer {
        display: none;
    }
}
