<div class="row">
  <ul class="col-sm-6 list-inline">
  {% if not FOOTER_LINKS %}
    {% if not HIDE_AUTHORS %}
      <li class="list-inline-item"><a href="{{ SITEURL }}/{{ AUTHORS_URL or AUTHORS_SAVE_AS or 'authors.html' }}">Auteurs</a></li>
    {% endif %}
    <li class="list-inline-item"><a href="{{ SITEURL }}/{{ ARCHIVES_URL or ARCHIVES_SAVE_AS or 'archives.html' }}">Archives</a></li>
    <li class="list-inline-item"><a href="{{ SITEURL }}/{{ CATEGORIES_URL or CATEGORIES_SAVE_AS or 'categories.html' }}">Catégories</a></li>
    {% if tags|length %}
      <li class="list-inline-item"><a href="{{ SITEURL }}/{{ TAGS_URL or TAGS_SAVE_AS or 'tags.html' }}">Tags</a></li>
    {% endif %}
  {% else %}
    {% for title, link in FOOTER_LINKS %}
    <li class="list-inline-item"><a href="{{ url(link) }}">{{ title }}</a></li>
    {% endfor %}
  {% endif %}
  </ul>
  <p class="col-sm-6 text-sm-right text-muted">
    Construit avec <a href="https://github.com/getpelican/pelican" target="_blank">Pelican</a>
    / <a href="https://github.com/nairobilug/pelican-alchemy" target="_blank">&#x2728;</a>
  </p>
</div>
