{% if articles_paginator.num_pages > 1 %}
  <hr>
  <ul class="pagination">
    {% if articles_page.has_previous() %}
      <li class="page-item">
        <a class="page-link" href="{{ SITEURL }}/{{ articles_previous_page.url }}">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Précédent</span>
        </a>
      </li>
    {% endif %}
    <li class="page-item">
      <span class="page-link">{{ articles_page.number }} of {{ articles_paginator.num_pages }}</span>
    </li>
    {% if articles_page.has_next() %}
      <li class="page-item">
        <a class="page-link" href="{{ SITEURL }}/{{ articles_next_page.url }}">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Suivant</span>
        </a>
      </li>
    {% endif %}
  </ul>
{% endif %}
